// $bg-color: #d6d6d6;
$bg-color: #fff;

$grey-1: #d6d6d6 ;

$grey-2: #838383 ;

$grey-3: #585858 ;

$outline-blue: #1e84f1;



// ------- Milieu Colours ------ \\

$milieu-red: #ED1F24;
$milieu-blue: #3F7CBF;
$milieu-green: #5ABA47;
$milieu-orange: #F36F21;
$milieu-yellow: #FCB21C;
$milieu-pink: #EE3A78; 
$milieu-cyan: #49ACE1;