@import '_variables.scss';

.modal {
  background-color: $bg-color;
  padding: 20px;
  width: 80%;
  max-width: 450px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__circle-close-btn{
  top: 11px;
  right: 23px;
  
  cursor: pointer;
  
  $close-button-dimensions: 50px;

  height: $close-button-dimensions;
  width: $close-button-dimensions;

  &::before {
    top: -2px;
    right: 13px;
    font-size: 25pt;
  }
}


/* Styling for the modal title */
.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for the modal content */
.modal-content {
  font-size: 15pt;
}

/* Styling for the modal actions */
.modal-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 50px;

  width: 300px;
  gap: 10px;

  & button {

    height: 40px;

    width: 110px;

    border-radius: 20px;

    border: 1px solid $grey-2;

    background-color: rgba($grey-3, 0.05);

    font-size: 12pt;

    &:first-child{
      // CONFIRM
      &:hover {
        color: white;
        background-color: rgba($milieu-red, 0.7);
        border: 1px solid rgba($milieu-red, 0.1);
      }
      
      margin-right: 40px;
    }
    &:last-child{
      // CANCEL

      &:hover {
        color: white;
        background-color: rgba($milieu-blue, 0.7);
        border: 1px solid rgba($milieu-blue, 0.1);
      }
    }
  }
}
