@import '_variables.scss';

.search-complex {
  display: flex; 
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  z-index: 9999;
}

$bar-height: 37px;

.search-box {
  display: flex;
  flex-direction: row;
}

.search-box__form {
  display: flex;
  flex-direction: row;
  height: $bar-height;
  position: relative;
  flex: 1;
  flex-basis: 1e-9px;
}

.search-box__input {
  background-color: $bg-color;
  border: 1px solid $grey-1;
  border-right: none;
  border-radius: $bar-height 0 0 $bar-height;
  caret-color: $grey-1;
  outline-color: $grey-1;
  color: $grey-2;
  padding: 0px 4px 0px 16px;
  flex: 1;
  flex-basis: 1e-9px;
  width: 35em;

  &::placeholder {
    color: $grey-2;
  }

}

.search-box__button {
  border: 1px solid $grey-1;
  background-color: $bg-color;
  border-radius: 0 $bar-height $bar-height 0;
  cursor: pointer;
  height: $bar-height;
  width: 64px;
  color: $grey-2;
}