@import '_variables.scss';

.search-complex {
  display: flex; 
  flex-direction: column;
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  z-index: 9980;

  width: 25%;
  min-width: 350px;
}

.sc-dcJsrY {
  width: 100%;
}


.dYrfwz {

  input { 

    caret-color: $grey-3;
  }
  
}