@import '_variables.scss';

.top-nav-bar {

  display: flex;
  background-color: $bg-color;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid $grey-1;
  height: 3.5em;
  
}

.left__logo {
  display: flex;
  margin-left: 1em;
  margin-right: auto;
  align-items: center;

  img {
    height: 40px;
    max-width: 100%;
  }
}

.top-nav-bar__right {
  display: flex;
  margin-left: auto;
  margin-right: 1.5em;
  align-items: center;

}

.right__user {
  border-radius: 100%;
  box-shadow: 0 0 0 1px $grey-1;
  overflow: hidden;


  &:hover {
    box-shadow: 0 0 5px 1px $grey-1;
  }

  img {
    transform: scale(1.2);
    height: 40px;
    max-width: 100%;
  }

}

.right__add {
  $dimension: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 100%;
  height: $dimension;
  width: $dimension ;
  // margin-right: 2vw;
  margin-right: 20px;
  overflow: hidden;

  path {
    fill: $grey-1;
  }


  &:hover {
    background-color: #1d8aff;

    path {
      fill: white;
    }
  }

}