@import '_variables.scss';

.top-nav-bar {

  display: flex;
  position: absolute;
  width: 100%;
  min-width: 350px;
  background-color: $bg-color;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid $grey-1;
  height: 3.5em;


  z-index: 9982;
  
}

.left__logo {
  display: flex;
  margin-left: 1em;
  margin-right: auto;
  align-items: center;

  img {
    height: 40px;
    max-width: 100%;
    min-width: 155px;
  }
}

.top-nav-bar__right {
  display: flex;
  margin-left: auto;
  margin-right: 1.5em;
  align-items: center;

}

.right__user {
  border-radius: 100%;
  box-shadow: 0 0 0 1px $grey-1;
  overflow: hidden;

  cursor: pointer;


  &:hover {
    box-shadow: 0 0 2px 1px $grey-2;
  }

  img {
    $image-dimensions: 40px;

    // transform: scale(1.2);
    transform: translate( 0, 2px) scale(1.1);
    height: 40px;
    min-width: $image-dimensions;
    max-width: $image-dimensions;

    min-height: $image-dimensions;
    max-height: $image-dimensions;
  }

}

.right__add {
  $dimension: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: $dimension;
  width: $dimension ;
  margin-right: 20px;

  cursor: pointer;

  path {
    fill: $grey-1;
  }


  &:hover {
    background-color: $grey-1;
    overflow: hidden;
    border-radius: 100%;

    path {
      fill: white;
    }
  }

}