@import '_variables.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9981;
}

.user-add-venue-modal {
  display: flex;

  flex-direction: column;

  background-color: $bg-color;
  padding: 20px;
  border-radius: 20px;

  width: 615px;
  // max-width: 500px;

  height: 700px;


  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow for the modal */
}

.venue-type-toggle button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #e0e0e0; /* Gray background */
  border-radius: 3px;
  transition: background-color 0.3s;
}

.venue-type-toggle button:hover {
  background-color: #d0d0d0; /* Darker gray on hover */
}

.branding-section,
.location-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    h4 {
        margin-top: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }

    input {
        margin-top: 10px;
    }
}


.user-add-venue-modal__circle-close-btn {

  top: 950px;
  right: 370px;
  
  cursor: pointer;
  
  $close-button-dimensions: 50px;

  height: $close-button-dimensions;
  width: $close-button-dimensions;

  // background-color: magenta;


  // background-color: rgba(white, 0.3);

  // &:hover {
  //   // background-color: rgba(white, 0.6);
  // }

  &::before {
    top: -2px;
    right: 13px;
    font-size: 25pt;
  }
}