@import '_variables.scss';

$text-colour: $grey-2;
// $text-colour: $milieu-red;

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.empty-content {
  color: #888;
  border: 1px dashed #aaa;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: #f5f5f5;
  }
}

.user-venue-manager-modal {

  position: relative;
  width: 90%;
  max-width: 700px;
  background-color: $bg-color;
  padding: 20px;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .modal-title {
    color: rgba($grey-3, 0.5);
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .section-title {
    color: $text-colour;
    font-size: 1.5rem;
    margin-bottom: 15px;

    $opacity-1: 0.7;

    &.business {
      color: rgba($milieu-red, $opacity-1);
    }

    &.event {
      color: rgba($milieu-blue, $opacity-1);
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    color: $text-colour;
    padding: 10px;
    
    border-radius: 12px;

    $opacity-1: 0.05;
    $opacity-2: 0.2;

    &.business {
      background-color: rgba($milieu-red, $opacity-1);
      border: 1px solid rgba($milieu-red, $opacity-2);
      
    }
  
    &.event {
      background-color: rgba($milieu-blue, $opacity-1);
      border: 1px solid rgba($milieu-blue, $opacity-2);
      margin-bottom: 43px;
    }

  }


}

.venue-item {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 45px;
  width: 100%;

  border-radius: 8px;

  margin: -1px;

  $item-opacity-1: 0.3;
  $item-opacity-2: 0.5;

  &.business {
    
    &:hover {
      & span {
        color: white;
      }

      .delete-btn {
        background-color: $bg-color;
        color: rgba($milieu-red, $item-opacity-2);
        border: 1px solid rgba($milieu-red, $item-opacity-2);
      }
      background-color: rgba($milieu-red, $item-opacity-1);
  
    }

  }

  &.event {
    
    &:hover {
      & span {
        color: white;
      }
      .delete-btn {
        background-color: $bg-color;
        color: rgba($milieu-blue, $item-opacity-2);
        border: 1px solid rgba($milieu-blue, $item-opacity-2);
      }
      background-color: rgba($milieu-blue, $item-opacity-1);
  
    }

  }

  .venue-name {

    color: $grey-3;
  
    font-size: 115%;

    margin-left: 15px;
  
    text-align: left;
  
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      color: $milieu-blue;
      text-decoration: underline;
    }

    $name-opacity-1: 0.8;
    $name-opacity-2: 0.2;

    &.business {
      color: rgba($milieu-red, $name-opacity-1);
    }

    &.event {
      color: rgba($milieu-blue, $name-opacity-1);
    }

  }

  .delete-btn {
    margin-right: 14px;
    cursor: pointer;

    height: 36px;
    width: 94px;

    border-radius: 14px;

    font-size: 13pt;

    $name-opacity-1: 0.15;
    $name-opacity-2: 0.7;
    $name-opacity-3: 0;

    &.business {
      border: 1px solid rgba($milieu-red, $name-opacity-1);
      color: rgba($milieu-red, $name-opacity-1);
      // background-color: $bg-color ;
      background-color: rgba($milieu-red, $name-opacity-3);

      &:hover {
        color: white;
        border: 1px solid rgba(white, $name-opacity-2);
        background-color: rgba($milieu-red, $name-opacity-2);;
      }
    }

    &.event {
      border: 1px solid rgba($milieu-blue, $name-opacity-1);
      color: rgba($milieu-blue, $name-opacity-1);
      // background-color: $bg-color ;
      background-color: rgba($milieu-blue, $name-opacity-3);

      &:hover {
        color: white;
        border: 1px solid rgba(white, $name-opacity-2);
        background-color: rgba($milieu-blue, $name-opacity-2);;
      }
    }
  }

}

.user-venue-manager-modal__circle-close-btn {

  top: 11px;
  right: 23px;
  
  cursor: pointer;
  
  $close-button-dimensions: 50px;

  height: $close-button-dimensions;
  width: $close-button-dimensions;

  // background-color: magenta;


  // background-color: rgba(white, 0.3);

  // &:hover {
  //   // background-color: rgba(white, 0.6);
  // }

  &::before {
    top: -2px;
    right: 13px;
    font-size: 25pt;
  }
}
