@import '_variables.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
    // transform: translate( 10px, -20px);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    // transform: translate(0, 0);
    transform: scale(1);
  }
}

.user-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  position: absolute;

  top: 62px;
  right: 27px;

  border: 1.5px solid $grey-1;

  box-shadow: 2px 7px 10px rgba($grey-3,0.2);

  // background: $bg-color;
  background: #f4f6fb;
  border-radius: 35px;

  width: 320px;
  height: 315px;

  overflow: auto;

  z-index: 9985;

  opacity: 0;

  transform-origin: top right;

  animation: fadeIn 0.3s forwards;



  &__close-btn {
    position: absolute;

    top: 8px;
    right: 25px;

    $size: 40px;

    height: $size;
    width: $size;

    border-radius: 100%;

    font-size: 25pt;

    // background-color: magenta;

    cursor: pointer;

    transition: background-color 0.1s linear;

    &:hover {
      background-color: rgba($grey-2, 0.15);
    }

    &::before {
      content: "\00D7"; /* Unicode for &times; */
      position: absolute;
      top: -7.5px;
      right: 8px;
      color: $grey-2;
    }

  }


  &__profile-pic {

    margin-top: -10px;
    margin-bottom: 0px;


    display: flex;
    border-radius: 100%;
    overflow: hidden;
    // margin-bottom: 10px;
    
    img {
      width: 100px;
    }

  }

  &__greeting {


    overflow: hidden;

    margin: 4px;
    font-size: 17pt;
    color: $grey-3;

    max-width: 90%;
  }



  &__username {
    // font-weight: bold;
    color: $grey-2;

    margin-bottom: 9px;
  }

  &__my-venues {
    display: flex;
    justify-content: center;
    align-items: center;

    $myvenues-colour: $milieu-cyan;

    color: $myvenues-colour;
    background-color: rgba($myvenues-colour, 0.1);
    font-weight: bold;
    font-size: 15pt;

    $height-radius: 45px;
    
    margin: 4px;
    height: $height-radius;
    width: 250px;
    border-radius: $height-radius;
    border: 1px solid rgba($myvenues-colour, 0.2);

    cursor: pointer;

    transition: all 0.25s linear;

    &:hover {

      color: white;
      background-color: rgba($myvenues-colour, 1);

      border: 1px solid rgba(white, 1);

    }
  }


  &__signout {

    display: flex;
    justify-content: center;
    align-items: center;

    $signout-colour: $milieu-red;

    color: $signout-colour;
    background-color: rgba($signout-colour, 0.1);
    font-weight: bold;
    font-size: 12pt;
    
    $height-radius: 37px;
    
    margin: 4px;
    height: $height-radius;
    width: 152px;
    border-radius: $height-radius;
    border: 1px solid rgba($signout-colour, 0.2);


    cursor: pointer;

    transition: all 0.25s linear;

    &:hover {

      color: white;
      background-color: rgba($signout-colour, 1);

      border: 1px solid rgba(white, 1);

    }
  }





}



.user-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: red;
}
